p{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.screenshot{
    width: 50%;
}
.sponsor{
    width: 50px;
    height: 50px;
    margin-right:2px;
    border-radius:25px;
    background:#EDF0F7;
}